*{
    font-family:"Noto Serif", serif;
}
/* shared styles */
.font-inter{
    font-family: "Inter", sans-serif;
}
.flex{
    display: flex;  
}
.grid{
    display: grid;
}
.width{
    max-width: 1140px;
    margin: 0 auto;
}
.primary-color{
    color: #E95A08;
}
.secondary-color{
    color: rgba(0, 0, 0, 0.5);
}
.flower-name{
    font-weight: 600;
    font-size: 1.33rem;
    color: #111111;
}
.price{
    font-weight: 700;
    font-size: 1.33rem;
    color: #111111;
}
.card-btn{
    background-color: #E95A08;
    border: none;
    padding: 10px 97px;
    color: #FFFFFF;
}
/* navbar sections */
.navbar{
    margin: 0 auto;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
}
.menu li{
    list-style: none;
    padding-right: 4vw;
}
.menu li a{
    text-decoration: none;
    color: #8987A1;
    font-family: "Inter", sans-serif;
}
.cart{
    padding-left: 10px;
}
.menu li a:hover{
    color: #000000;
}

/* banner sections */
.banner{
    margin-top: 4.25rem;
}
.banner-title-description{
    max-width: 570px; 
}
.banner-title{
    font-weight: 700;
    font-size: 4.25rem;
}
.banner-img{
    margin: 0 auto;
    max-width: 570px;
}

/* card sections */
.card-title-description{
    margin-top: 50px;
}
.card-title{
    font-size: 3.75rem;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
}
.card-description{
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    max-width: 670px;
}
.cards{
    margin-top: 50px;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}
.card{
    justify-items: center;
}

/* flower and plant lover section */
.lover-section{
    margin-top: 200px;
}
.flowe-plant-lover{
    gap: 70px;
}
.shop-badge{
    position: relative;
}
.badge{
    position: absolute;
    left: 340px;
    top: -130px;
    animation: spin 3s infinite;
}
.badge img{
    max-width: 300px;
    max-height: 300px;
}
.lover-title{
    font-weight: 700;
    font-size: 3.5rem;
    color: #000000;
}
.lover-description li{
    padding: 30px 0px;
}
/* latest deals section */
.latest-deals-container{
    grid-template-columns:repeat(1, 367px 750px);
    gap: 20px;
    margin-top: 50px;
}
.Latest-deals{
    gap: 20px;
    max-height: 423px;
}
.Latest-deals-left-top{
    background-image: url('/assets/deal-bloom.png');
    background-repeat: no-repeat;
    height: 190px;
    width: 364px;
    border-radius: 20px;
    justify-items: center;
    align-content: center;
    color: #FFFFFF;
}
.Latest-deals-left-bottom{
    background-image: url('/assets/deal-ana.png');
    background-repeat: no-repeat;
    width: 364px;
    height:190px;
    border-radius: 20px;
}
.deals-name{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: 700;
}
.offer-price{
    margin: 0 auto;
}
.plant{
    border-left: 1px solid #FFFFFF;
    padding-left: 5px;
}
.deals-name a{
    color: #FFFFFF;
}
.Latest-deals-right{
    background-image: url('/assets/deal-zabo.png');
    background-repeat: no-repeat;
    max-height: 423px;
    padding: 9.7rem 0px;
    border-radius: 20px;
    text-align: center;
}
/* join section */
.join{
    background-image: url('/assets/news-letter-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin-top: 100px;
}
.join-title{
    text-align: center;
    margin: 0 auto;
    font-size: 3.34rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.join-bunch{
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    padding: 15%;
}
.join-input{
    padding: 0.8rem 42rem 0.8rem 0.3rem;
    border: none;
}
.join-btn{
    padding: 0.8rem 3rem 0.8rem 3rem;
    background-color: #E95A08;
    border: none;
    margin-left: -5px;
}

/* footer section */
.footer-container{
    grid-template-columns: repeat(4, 1fr);
    gap: 70px;
    margin-top: 50px;
}
.footer-description{
    color: rgba(0, 0, 0, 0.5);
    font-family: "Inter", sans-serif;
}
.footer-menu li{
    list-style: none;
    padding-bottom: 30px;
}
.footer-menu li a{
    text-decoration: none;
    color: #6B7280;
    font-family: "Inter", sans-serif;
}
.terms-services li{
    list-style: none;
    padding-bottom: 30px;
}
.terms-services li a{
    text-decoration: none;
    color: #6B7280;
    font-family: "Inter", sans-serif;
}
.social{
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
/* Responsive small device for 576px */
@media screen and (max-width:576px){
        .menu li{
            visibility: hidden;
        }
        .banner{
            flex-direction: column-reverse;
        }
        .cards{
            grid-template-columns: repeat(2,1fr);
        }
        .flowe-plant-lover{
            flex-direction: column;
        }
        .badge{
            visibility: hidden;
        }
        .join-input{
            padding: 0.8rem 6rem 0.8rem 0.3rem;
        }
        .join-btn{
            padding: 0.8rem 1rem 0.8rem 1rem;
        }
        .footer-container{
            grid-template-columns: repeat(1, 1fr);
        } 
        .latest-deals-container{
            grid-template-columns:repeat(1, 2fr);
        }
        .Latest-deals{
            margin: 0 auto;
        }
}